<html>
<head>
	<meta charset="UTF-8">
	<title>Chat-js</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div id="app">
		<div class="chat-headers">
			<span class="chat-title">Chat</span> <a @click="toggleParams"><i class="fa fa-gear icon-gear-params"></i></a>
		</div>
		<div v-if="paramsVisible" class="chat-parameters">
			<input type="text" id="pseudo" v-model="pseudo" placeholder="Pseudo">
		</div>
		<div class="chat-container">
			<div class="chat-body">
				<div v-for="msg in messages" v-bind:class="messageClass(msg)">
					<span class="message">{{msg.message}}</span><br/>
					<span class="author">{{msg.uid}}</span>
				</div>
			</div>
			<div class="chat-controls">
				<input type="text" placeholder="Type a message..." @keyup.enter="sendMessage" v-model="messageInput">
			</div>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>